/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utility*/
body {
    background-color: whitesmoke;
}

/*Header*/
.container header {
    background-color: white;
    font-family: 
}

img {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 6px;
    margin-left: 20px;
}

#logo-text {
    display: inline;
    font-weight: 700;
    font-size: 40px;
    font-family: arial;
}

/*Buttons*/
.buttons {   
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #ddd;
}

.task-button {
    color: white;
    background-color: #45AEF3;
}

.section-button {
    color: #ddd;
    background-color: white;
}